.dialog-container {
    width: 100dvw;
    max-width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;
    border: none;
    position: relative;
}

.dialog-body {
    display: flex;
    position: relative;
}

.close-header {
    padding-left: 1rem;
    padding-right: 1rem;
    position: sticky;
    top: 0;
}