.credentials-container {
    border: var(--border-light);
    background: #FFF;
    border-radius: 4px;
    box-shadow: var(--box-shadow-complement-lg);
    margin: 8rem;
    padding-bottom: 4rem;
    max-width: 1268px;
    margin-left: auto;
    margin-right: auto;
}

.credentials-container .sidebar-layout .inner-section {
    max-width: 100%;
}

.credentials-container .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.credential-form > .credential-form-content {
    width: 100%;
    max-width: var(--max-width);
}

.credential-form input,
.credential-form select,
.credential-form textarea {
    border: var(--border-medium);
    box-shadow: none;
}
.credential-form textarea {
    border-left-width: 2rem;
}

.credential-form .color-input {
    position: relative;
}
.credential-form .color-input input[type="color"] {
    position: absolute;
    left: 2px;
    bottom: 0;
    height: 50px;
    padding: 10px 12px;
    border: none;
    background: none;
}

.credential-form .color-input input[type="text"] {
    padding-left: 3rem;
}

.credential-form {
    flex: 1;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.credential-form .secondary-sidebar {
    flex: 25%;
}

.secondary-sidebar > .credential-sidebar-inner {
    position: sticky;
    top: 0;
}

.credential-preview {
    border: var(--border-light);
    box-shadow: var(--box-shadow-complement);
    border-radius: 1rem;
    width: 310px;
    min-height: 440px;
    margin: 2rem auto;
    padding: 1rem 0 2rem;
}

.credential-preview .title {
    font-size: 1.4rem;
}

.credential-preview .subtitle {
    font-weight: bold;
}

.credential-preview .description {
    font-size: var(--font-size-md);
}

.credential-preview .property-label {
    font-size: var(--font-size-xs);
    font-weight: bold
}

.credential-preview .property-value {
    font-size: var(--font-size-xs);
}

.credential-form .hero {
    background-size: cover;
    background-position: center center;
    padding: 3rem 2rem;
    margin-top: 1rem;
}

.credential-form .thumbnail.credential-section {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 32px;
    width: 32px;
    margin-bottom: 0rem;
    margin-top: 0;
}

.credential-form .credential-section {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.credential-form .property-section {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.credential-form .property-section .property-section-group {
    flex: auto;
}

.table-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 4rem;
}

.table-header > .btn,
.table-header > h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.credentials-container h3,
.credentials-container h4,
.credentials-container p {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.container-fallback {
    padding: 0 4rem 4rem;
    text-align: center;
}


