
.set-did {
    background: black;
    color: var(--color-tbd-yellow);
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-did h1 {
    font-weight: bold;
    font-size: 2rem;
    /* padding-left: 1rem; */
    padding-right: 1rem;
}

.set-did p {
    font-family: var(--tbd-mono);
}

.set-did .btn-primary {
    background: var(--color-tbd-yellow);
    color: black;
    border-color: var(--color-tbd-yellow);
}

.set-did h1 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1rem solid var(--color-tbd-yellow);
    animation: typing 1.5s steps(20, end), blinking-cursor 0.5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 40%;
    }
  }
  
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--color-tbd-yellow);
    }
  }

  .set-did a {
    color: black;
    background: var(--color-tbd-blue);
    font-size: var(--font-size-md);
    margin-bottom: 0;
  }

  .set-did a[target="_blank"]::after,
  .set-did a[target="blank"]::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.25rem 0 0.5rem;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg>') no-repeat;
  }

  .button-card-container {
    display: flex;
    gap: 1rem;
  }

  .button-card-container .button-card {
    flex: 1;
    border: 1px solid rgb(255 236 26 / 30%);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .set-did .set-did-content {
    /* max-width: 840px; */
    /* max-width: 360px; */
    /* max-width: var(--max-width); */
    /* max-width: 480px; */
    /* max-width: 640px; */
    max-width: 768px;
  }

  .button-card-icon {
    margin: 1rem;
  }

  .button-card-icon > svg {
    --size: 3rem;
  }

  .set-did .button-card  p.subheading {
    font-weight: bold;
    margin-bottom: 0.5rem;
    hyphens: none;
  }

  .set-did .button-card p:not(.subheading) {
    font-size: var(--font-size-sm);
  }

  .set-did .button-card p {
    margin: 1.5rem 1rem 0.5rem
  }

  .set-did .btn {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .set-did .btn-outline {
    background: #232323;
  }

  .set-did-inner p {
    /* font-size: var(--font-size-md); */
  }

  .set-did .button-group {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }