.btn-container-sm {
    width: 250px;
}
.btn-container-flex button{
    margin-top: var(--spacing-unit);
    margin-right: calc(var(--spacing-unit) / 2);
    min-width: 150px;
}
.dialog-sidebar {
    flex: 0 1 25%;
}


.modal-did {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-content {
    max-width: var(--max-width);
}

.or-divider {
    display: flex;
    justify-content: center;
}

.or-divider:before,
.or-divider:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: var(--color-complement);
    margin: auto 0.5rem;
}