.group-inputs > .field-interactive-btn {
    top: 8px;
    position: relative;
}

.group-inputs > .field-interactive-btn:disabled {
    opacity: 0;
}

.group-inputs > .field-interactive-btn.visible-on-disabled:disabled {
    opacity: 0.25;
}