.group-inputs > .field-interactive-btn {
    top: 8px;
    position: relative;
}

.group-inputs > .field-interactive-btn:disabled {
    opacity: 0;
}

.group-inputs > .field-interactive-btn.visible-on-disabled:disabled {
    opacity: 0.25;
}

.group-inputs {
    display: flex;
    gap: var(--spacing-unit);
}

.group-inputs input,
.group-inputs select {
    font-family: var(--tbd-mono);
}