.field-container {
  width: 100%;
  margin-bottom: var(--spacing-unit);
  position: relative;
}
.field-container > .field-heading {
  font-size: var(--font-size-sm);
  font-weight: 600;
  margin-bottom: calc(var(--spacing-unit) * 0.25);
  display: inline-block;
}
.field-container + a {
  margin-bottom: 2rem;
}
.field-container .field-description {
  font-size: var(--font-size-sm);
  margin-bottom: calc(var(--spacing-unit) * 0.75);
  display: block;
  color: var(--color-complement-60);
}
.secondary-label {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: var(--font-size-sm);
  color: var(--color-complement-60);
  font-weight: bold;
}
select,
input:is(
  [type="text"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="url"],
  [type="week"]
),
textarea {
  width: 100%;
  padding: 0.75rem;
  appearance: none;
  border: none;
  border-radius: calc(var(--spacing-unit) * 0.25);
  box-shadow: var(--box-shadow-complement-lg);
  font-size: var(--font-size-md);
}
input:is(
  [type="text"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="url"],
  [type="week"]
)::placeholder {
  opacity: 0.5;
}
input[type="url"] {
  padding-left: 5rem;
}
input[type="url"] ~ span {
  position: absolute;
  left: 0;
  width: 4rem;
}
input[type="url"] ~ span::before {
  content: 'https://';
  display: flex;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-complement-60);
  background: var(--color-complement-10);
  align-items: center;
  justify-content: center;
  border-top-left-radius: calc(var(--spacing-unit) * 0.25);
  border-bottom-left-radius: calc(var(--spacing-unit) * 0.25);
  padding: 0.63rem 0;
}
.select-area {
  position: relative;
}
.select-icon {
  position: absolute;
  top: 0;
  right: calc(var(--spacing-unit) / 2);
  height: 100%;
  display: flex;
  align-items: center;
}